.PartARegisterComponent{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid green;
}

.PartARegisterComponentTitle{
    font-size: 1.3rem;
    font-weight: 600;
    color: #000000;
}

.PartARegisterComponentForm{
    height: 70%;
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid red;
}

.PartARegisterComponentFormInput{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.PartARegisterComponentFormInput input{
    height: 100%;
    padding-left: .3vw;
}

.PartARegisterComponentFormInput input:focus {
    outline: none;
    
}


.PartARegisterComponentForm button{
    height: 12%;
    background-color: white;
    border: 1px solid black;
    border-radius: 1ch; 
    width: 20%;
}