.RealTimeDashboardRuntime {
    height: 80%;
    width: 30%;
    /* border: 1px solid black; */
    border-radius: 2ch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: relative;
    /* First before transition */
    /* background: #C6D5FF;
    background: linear-gradient(143deg, rgba(198, 213, 255, 1) 0%, rgba(243, 207, 255, 1) 43%); */

    /* First after transition */

    /* background: #C6D5FF;
        background: radial-gradient(circle, rgba(198, 213, 255, 1) 13%, rgba(243, 207, 255, 1) 86%); */

        /* background: #99ebff;
            background: linear-gradient(167deg, rgba(153, 235, 255, 1) 33%, rgba(103, 192, 214, 1) 81%); */
            
    /* second after transition */
    /* background: #73e1ff;
        background: radial-gradient(circle, rgba(115, 225, 255, 1) 33%, rgba(90, 189, 214, 1) 72%); */
}

.RealTimeDashboardRuntimeHeading {
    display: flex;
    width: 100%;
    height: 30%;
    /* border: 1px solid red; */
    justify-content: space-around;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

.RealTimeDashboardRuntimeNumber {
    font-size: 2.3rem;
    height: 30%;
    width: 70%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    
    font-family: "Poppins", sans-serif;
}

.RealTimeDashboardRuntimeBackground {
    height: 60%;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    top: 20%;
    align-items: center;
    object-fit: contain;
    border-radius: 2ch;
    position: absolute;
}

.RealTimeDashboardRuntimeBackground img {
    border-radius: 2ch;
    height: 70%;
    width: 40%;
    /* border: 1px solid red; */
}