.mainProfileComponent {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: black; */
}

.mainProfileDiv1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border: 1.5px solid black;
    height: 90%;
    width: 30%;
    border-right: none;
    border-top-left-radius: 1.2rem;
    border-bottom-left-radius: 1.2rem;
}

.mainProfileDiv2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid black;
    height: 95%;
    width: 35%;
    border-top-left-radius: 1.2rem;
    border-bottom-left-radius: 1.2rem;
    border-right:none;
}

.mainProfileDiv3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid black;
    height: 95%;
    width: 35%;
    border-top-right-radius: 1.2rem;
        border-bottom-right-radius: 1.2rem;
}