.profileDivTwoCustomizableInfos {
    height: 25%;
    width: 100%;
    /* border: 2px solid purple; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    /* background-color: black; */
}

.profileDivTwoRegisteredCompanies {
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 2px solid red; */
}

.profileDivTwoCustomizableInfosContact,
.profileDivTwoCustomizableInfosResume {
    height: 50%;
    width: 90%;
    /* border: 2px solid darkblue; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.profileDivTwoCustomizableInfosResume {
    height: 20%;
}

.profileDivTwoCustomizableInfosContactEmail,
.profileDivTwoCustomizableInfosContactPhone {
    height: 80%;
    width: 45%;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;    
}

.profileDivTwoCustomizableInfosResumeInput {
    border: 1px solid black;
    padding: 2%;
    border-radius: .6rem;
}

.profileDivTwoRegisteredCompaniesHeading {
    height: 10%;
    width: 80%;
    /* font-size: 3rem; */
    /* letter-spacing: .3ch; */
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    border-bottom: 1px solid black;
}

.profileDivTwoRegisteredCompaniesList {
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: scroll;
}

.profileDivTwoCustomizableInfosContactEmailQues,.profileDivTwoCustomizableInfosContactPhoneQues {
    width: 100%;
    height: 40%;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: 10rem; */
}

.profileDivTwoCustomizableInfosContactPhoneAns {
    height: 60%;
    padding-left: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.profileDivTwoCustomizableInfosContactEmailAns {
    overflow-x: scroll;
    height: 60%;
    display: flex;
    padding-left: 2%;
    align-items: center;
}

.profileDivTwoRegisteredCompaniesList>.CompanyLineupHomeMainContainer {
    height: 98%;
    width: 100%;
}


.profileDivTwoRegisteredCompaniesList>.CompanyLineupHomeMainContainer>.CompanyLineupHomeCompanyImageWrapper {
    /* background-color: black; */
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 2%;
    justify-content: center;
}

.profileDivTwoRegisteredCompaniesList>.CompanyLineupHomeMainContainer>.CompanyLineupHomeCompanyImageWrapper .CompanyLineupHomeCompanyImage {
    width: 38%;
    height: 100%;
}


.profileDivTwoRegisteredCompaniesList>.CompanyLineupHomeMainContainer>.CompanyLineupCompaniesList>.CompanyLineupHomeCompanies>.CompanyLineupHomeSpecificCompany>.CompanyLineupHomeCompanyLineupImage {
    height: 100%;
    padding: 0;
}

.profileDivTwoRegisteredCompaniesList>.CompanyLineupHomeMainContainer>.CompanyLineupCompaniesList>.CompanyLineupHomeCompanies>.CompanyLineupHomeSpecificCompany>.CompanyLineupHomeCompanyLineupImage img{
    height: 100%;
}