.profileDivThreeInfos{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
}

.profileDivThreePlacementStats{
    height: 60%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid red; */
}

.profileDivThreePlacementStatsAttended,
.profileDivThreePlacementStatsPercentage {
    height: 90%;
    width: 45%;
    border: 2px solid black;
}

.profileDivThreeAttendedCompanies {
    height: 80%;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    /* flex-wrap: nowrap; */
    /* border: 2px solid red; */
}

.profileDivThreeAttendedCompaniesHeading {
    height: 10%;
    width: 80%;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
}

.profileDivThreeAttendedCompaniesList {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    overflow: scroll;
}

.profileDivThreePlacementStatsAttended,.profileDivThreePlacementStatsPercentage{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.profileDivThreePlacementStatsAttendedQues,.profileDivThreePlacementStatsAttendedAns,
.profileDivThreePlacementStatsPercentageQues,
.profileDivThreePlacementStatsPercentageAns
{
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
}

.profileDivThreePlacementStatsAttendedAns,
.profileDivThreePlacementStatsPercentageAns{
    font-size: 1.4rem;
}


/* .profileDivThreePlacementStatsAttendedQues p{
    height: 100%;
} */